{% extends "base.html" %}

{% block content %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <h1>Articles</h1> <small><a href="{% url 'article_create'%}">Create an article</a></small>

    {% for article in articles %}
        <h2><a href="{% url 'the_article' article.id %}">{{ article.name }}</a></h2>
        <div>{{ article.body|slice:":50" }}...</div>
        <small><a href="{% url 'article_update' article.id %}">Edit</a></small>
        <small> {% include "articles/delete.html" %}</small>
    {% endfor %}
{% endblock %}